body{
	background: #dedede;
	font-family: arial;
	margin: 0;
	padding: 0;
	
}
.dropdwn{
	margin: 0 auto;
	
}
nav{
	height: 65px;
	background: #2c3e50;
	box-shadow: 0 10px 15px rgba(0,0,0,0,1);
	
}
.logo{
	padding: 5px 0 0 80px;
	width: 60px;
	height: auto;
	
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
	
}
nav ul li{
		background: #2c3e50;
		position: relative;
		list-style: none;
		display: inline-block;
		
}
nav ul li a{
		display: block;
		padding: 0 15px;
		color: white;
		text-decoration: none;
		line-height: 60px;
		font-size: 20px;
		
}
nav ul li a:hover{
		background: #243342;
}
nav ul ul{
		position: absolute;
		top: 60px;
		display: none;
}
nav ul li:hover > ul{
		display:block;
}
nav ul ul li{
		width: 150px;
		float: none;
		display: list-item;
		position:relative;
		
}
nav ul ul ul li{
		position: relative;
		top: -60px;
		left: 150px;
}
.body{
		padding: 0 20px;
}
.body img{
		width:100%;
		max-width:700px;
		margin: 20px 0;
}
.par{
	width: 900px;
	margin-left: 195px;
	padding: 20px;
	background-color: #b3afb5;
	
}
.par p{
		text-align: justify;
		
}
.par p a{
	color:red;
}
.par p a:hover{
	text-decoration: underline;
	color: blue;
}
.dwn{
	background-color:black;
	height:125px;
}
.dwn p{
	color:white;
}
.dwn p a{
	color:White;
}
.dwn p a:hover{
	text-decoration: underline;
	color: blue;
}